html{
  overflow-x: hidden;
  width: 100%;
}
#tripInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  input, select {
    margin: 10px;
  }

  margin: 10px 10px 25px;
}

.trip-tile {
  background: #f8f6ef;
  button {
    margin-left: 7px;
    font-weight: bold;
    color: white;
    background: rgb(102 160 218);
    border-radius: 5px;
    padding: 5px;
    border: 1px solid lightgray;
  }
}

button {
  font-weight: bold;
  color: white;
  background: rgb(102 160 218);
  border-radius: 5px;
  padding: 5px;
  border: 1px solid lightgray;
}

.createTrip {
  margin-top: 25px;
  display: flex;
  label {
    //margin: 5px 15px;
  }
  text-align: center;
}

#create-trip-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#submit-trip-button, #edit-trip-button {
  position: absolute;
  right: 10px;
  top: 10px;
}

#delete-trip-button {
  position:absolute;
  right: 105px;
  top: 10px;
}

#go-home-button {
  position: absolute;
  left: 10px;
  top: 10px;
}

#view-trip-header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#view-trip-images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.view-trip-image-div {
  padding: 1px;
}

@media screen and (min-width: 300px) {

  .view-trip-modal  {
    inset: 10px
    }

    .trip-info-input {
    width: 120px;
    margin: 10px;
      input{
        width: 120px;
      }
  }

  .view-trip-image {
    width: calc((100vw - 70px)/2);
    height: calc((100vw - 70px)/2);
    object-fit: cover;
  }


  .trip-tile {
    border: 1px solid gray;
    padding: 25px;
    width: calc(100vw - 52px);
  }

  .trip-profile-image {
    img {
      height: 150px;
      width: 150px;
      object-fit: cover;
      border-radius: 5%;
    }
  }

  .map-container {
    height: 250px;
  }

  #image-modal-input, #image-modal-activity {
    input, select {
      width: calc(100%);
      margin: 5px 0;
    }

    label {
      font-weight: bold;
    }
  }

}

@media screen and (min-width: 600px) {
  .view-trip-modal {
    inset: 40px
  }

  .trip-tile {
    border: 1px solid gray;
    padding: 25px;
    width: calc((100vw - 106px)/2);
  }
  #image-modal-input, #image-modal-activity {
    input, select {
      width: 300px;
    }
    label, button, input, select {
      margin-left: 10px;
    }

  }
}

@media screen and (min-width: 1200px) {


  .trip-info-input {
    width: 250px;
  }

  .view-trip-image {
    width: calc((100vw - 70px)/3);
    height: calc((100vw - 70px)/3);
    object-fit: cover;
    border-radius: 5%;
  }

  .trip-tile {
    border: 1px solid gray;
    padding: 25px;
    width: calc((100vw - 160px)/3);
  }

  .trip-profile-image {
    img {
      height: 200px;
      width: 200px;
      object-fit: cover;
    }
  }
  .map-container {
    height: 400px;
  }
}

html, body, #root, .App,.map-container-fullscreen {
  height: 100%;
  width: 100%;
}

#fullScreenMap {
  position: relative;
  height: 98%;
  width: 100%;
}
.nfl-team {
  position: absolute;
  z-index: 100;
}

.raiders {
  filter: brightness(0.2);
}

.view-trip-image {
  opacity: 1;
}

.view-trip-image:hover {
  opacity: 0.5;
}

#view-image-modal{
  img {
    width:100%;
    object-fit: contain;
  }
  #close-image-modal-button, #edit-image-modal-button {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  #edit-image-modal-button {
    position: absolute;
    right: 70px;
    top: 10px;
  }
}
#view-image-modal-div {
  height: 75%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.ReactModal__Overlay {
  z-index: 3;
}

#image-modal-input, #image-modal-activity {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  label {
    margin: 10px;
    text-align: center;
  }

}

#save-image-div {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  margin: 10px auto;
  button {
    margin: 0 10px;
  }
}



.trip-tile-main {
  display: flex;
  justify-content: flex-start;
  h4, h5, h2, a {
    margin: 10px;
  }
  h4 {
    color: gray;
  }
}

#trip-list {
  display: flex;
  flex-wrap: wrap;
}

.map-container {
  width: 100%;
}

#filter-trips-button {
  position: absolute;
  right: 5px;
  top: 5px;
  background: #CBE7BE;
  color: black;
  border: 0.5px solid black;
}

#add-activities-popup {
  position: fixed;
  left: 25vw;
  height: 50px;
  padding: 25px;
  width: 50vw;
  background: lightgray;
  z-index: 1000;
  opacity: 0.9;
  text-align: center;
  button {
    margin-top: 10px;
  }
}

#view-trip-header-title {
  text-align: center;
  a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    margin: 10px;
  }
}

.view-trip-modal {
  position: absolute;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  left: 10px;
  top: 10px;
  right: 10px;
}

.ReactModal__Overlay {
  z-index: 6;
}

#view-trip-location, #view-trip-image {
  color: #5a5858;
  span {
    font-style: italic;
    font-size: small;
    margin-left: 5px;
  }
}

.edit-trip-button-div {
  margin-left: 5px;
}

#create-trip-button{
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 5;
  border: 0.5px solid black;
  color: #434343;
  background: gold;
}

.teamLogoMarker{
  img {
    height: 50px;
    width: 50px;
  }

}

.nfl-teams{
  display: flex;
  position: absolute;
  z-index: 100;
  .nflTeam.visited {
    filter: brightness(1.0);
  }
  .nflTeam {
    filter: brightness(0);
    width: calc((100vw)/16);
    height: calc(100vw/16);
    img {
      width: calc((100vw) / 24);
      height: calc(100vw / 24);
    }
  }
}

.nfc{
  bottom: 0;
}

 .hidden {
   filter: brightness(0)
 }