#tripInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  input, select {
    margin: 10px;
  }

  margin: 10px 10px 25px;
}

.createTrip {
  display: flex;
  label {
    //margin: 5px 15px;
  }
  text-align: center;
}

#create-trip-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#submit-trip-button {
  position: absolute;
  right: 10px;
  top: 10px;
}

#delete-trip-button {
  position:absolute;
  right: 105px;
  top: 10px;
}

#go-home-button {
  position: absolute;
  left: 10px;
  top: 10px;
}

#view-trip-header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#view-trip-images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.view-trip-image-div {
  padding: 1px;
}

@media screen and (min-width: 300px) {

  .trip-info-input {
    width: 120px;
    margin: 10px;
  }

  .view-trip-image {
    width: 45vw;
    height: 49vw;
    object-fit: cover;
  }

  .view-trip-modal .view-trip-image {
    width: 40vw;
    height: 40vw;
    object-fit: cover;
  }

  .trip-tile {
    border: 1px solid gray;
    padding: 25px;
    width: 98%;
  }

  .trip-profile-image {
    img {
      height: 150px;
      width: 150px;
      object-fit: cover;
    }
  }

  .map-container {
    height: 250px;
  }

}

@media screen and (min-width: 800px) {


  .trip-info-input {
    width: 250px;
  }

  .view-trip-image {
    width: 30vw;
    height: 32vw;
    object-fit: cover;
  }

  .trip-tile {
    border: 1px solid gray;
    padding: 25px;
    width: 500px;
  }

  .trip-profile-image {
    img {
      height: 200px;
      width: 200px;
      object-fit: cover;
    }
  }
  .map-container {
    height: 400px;
  }
}

.view-trip-image {
  opacity: 1;
}

.view-trip-image:hover {
  opacity: 0.5;
}

#view-image-modal{
  img {
    height:100%;
    object-fit: contain;
  }
  #close-image-modal-button {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
#view-image-modal-div {
  height: 75%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.ReactModal__Overlay {
  z-index: 3;
}

#image-modal-input, #image-modal-activity {
  margin-top: 20px;
  input {
    width: 300px;
  }
  display: flex;
  justify-content: center;
  label, button, input {
    margin-left: 10px;
  }

}

#save-image-div {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  margin: 10px auto;
  button {
    margin: 0 10px;
  }
}



.trip-tile-main {
  display: flex;
  justify-content: flex-start;
  h4, h5, h2, a {
    margin: 10px;
  }
  h4 {
    color: gray;
  }
}

#trip-list {
  display: flex;
  flex-wrap: wrap;
}

.map-container {
  width: 100%;
}

#filter-trips-button {
  position: absolute;
  left: 5px;
  top: 5px;
}

#add-activities-popup {
  position: fixed;
  left: 25vw;
  height: 50px;
  padding: 25px;
  width: 50vw;
  background: lightgray;
  z-index: 1000;
  opacity: 0.9;
  text-align: center;
  button {
    margin-top: 10px;
  }
}

#view-trip-header-title {
  text-align: center;
  a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    margin: 10px;
  }
}

.view-trip-modal {
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  left: 10px;
  top: 10px;
  right: 10px;
}

